.wrapper
  
  = render "devise/shared/side_bar"

  .chat-main
    .chat-main__header
      .chat-main__header__left-box
        .chat-main__header__left-box__current-group
          グループ名
        .chat-main__header__left-box__member-list
          Member :
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名

      .chat-main__header__left-box__main-header
        %a.chat-main__header__left-box__main-header__edit-btn
          Edit
      
    .chat-main__messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'